.parent-container{
    background-color: #4156CD    ;
    min-width:auto ;
    margin-top:58px;
    color:antiquewhite;
    
    
}
.gridAlign{
    display: flex;
    justify-content: center;
}

.Field1-Container{

    
    background-color:  whitesmoke;
    color:black;
}

.Field2-Container{
background-color:  whitesmoke;
color:black;
}

.Field3-Container{
    background-color:  whitesmoke;
color:black;
   

}

.button{
    display:flex;
    justify-content: flex-end;
    margin: 0px 10px 10px 0px;
}
